.container {
  margin: 20px;
  display: flex;
  flex-direction: row;
}
.container2 {
  margin: 20px;
  display: flex;
  justify-content: flex-end;
  flex-direction: row-reverse;

}
.container3 {
  margin: 20px;
  display: flex;
  align-items: left;
  flex-direction: column;
}
.container4 {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
}

.container5 {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  width: 300px;
  justify-content: flex-end;
}
.container6 {
  margin: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap-reverse;
  width: 300px;
/*   justify-content: flex-end; */
}


.green {
  background-color: #51d400;
}
.yellow {
  background-color: #ffd62a;
}
.purple {
  background-color: #b02afe;
}
.item  {
  width: 150px;
  height: 150px;
}