div {
  margin: 20px;
  padding: 20px 60px 60px 20px;
  font-size: 30px;
  width: 200px;
  border: 4px solid #66CDAA;
  background: #009999;
  font-family: 'Baloo Chettan 2', cursive;
  color: #004d4d;
}