#gyujto {
/*   width: 1000px; */
}
#fejlec {
  height: 50px;
  background-color: purple;
  display: flex;
  align-items: center;
}
#lap {
  display: flex;
}
.menu {
  height: 30px;
  width: 100px;
  background-color: cyan;
  margin: 0 10px 0 10px;
}
.menu.nagy{
  width: 160px;
}
#tartalom {
  height: 500px;
/*   width: 80%; */
  background-color: yellow;
  flex-grow: 4;
}
#posts {
  height: 500px;
/*   width: 20%; */
  background-color: lime;
  flex-grow: 1;
}