li {
  list-style: none;
}

input {
  border: 4px solid lightgreen;
  border-radius: 10px;
  height: 80px;
  width: 350px;
}

.label {
  margin: 20px 0 0 0;
}

.form {
  text-transform: uppercase;
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 30px;
}

button {
  border: none;
  margin: 20px 0 0 0;
  padding: 25px;
  border-radius: 50px;
  background-color: lightgreen;
}