div {
  margin:10px;
  border: 10px solid #1E90FF;
  width: 400px;
}


p {
  text-align: center;
  font-family: 'Baloo Chettan 2', cursive;
  font-size: 50px;
  Color: white;
  padding: 40px 0;
  margin: 0;
}

#north {
  background: #F08080;
}
#south {
  background: #99fde6;
}